extends template/bassic

block content
    .error-container
        h1.error__status= error.status
        h2.error__title= message
        .error__code
            pre
                code #{error.stack}
