$sidebar-1: #122F3B;
$sidebar-2: #223D48;
$sidebar-3: #d2d5da;

.context .sidebar{
    box-shadow: none;
    border-top: none;
    overflow: visible !important;
}
.menu__top{
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    position: relative;
    z-index: 200;
}
.padding1{
    padding: 1rem;
}

.data{
    &-container{
        display: flex;
        height: calc(100% - 41px);
    }
    &__content{
        flex: 1 1 auto;
        padding: 1rem;
        overflow: auto;
        &__tools{
            margin-bottom: 1.5rem;
        }
    }
    &__audit{
        flex: 0 0 300px;
        margin-left: 1rem;
        overflow: auto;
        max-height: calc(100vh - 41px);
    }
}

// UI Auditory
.data{
    &__audit{
        .ui.segment{
            border-radius: 0;
            box-shadow: none;
            border-right: none;
            border-bottom: none;
            border-top: none;
            .perfil{
                text-transform: capitalize;
            }
        }
        .oldData{
            color: #fc0000;
        }
        .newData{
            color: #00BC00;
        }
    }
}

.sn-avatar{
    display: flex;
    align-items: center;
}


img{
    max-width: 100%;
}

.layout-container{
    width: 100%;
    height: 100%;
    display: flex;
    .admin-sidebar{
        flex: 0 0 200px;
        background: $sidebar-1;
        color: $sidebar-3;
        max-height: 100vh;
        overflow: auto;
    }
    .admin-content{
        flex: 1 1 auto;
        background: #FAFAFA;
        color: $sidebar-1;
    }
}

@import "admin/sidebar";